a{
    text-decoration: none;
    color: inherit;
}

.container-left-bar{
    width: 250px;
    min-width: 250px;
    border-right: 1px solid #CCC;
    background-color: #F9F9F9;
    height: 100vh;
}

.sub-container-left-bar{
    margin: 5px;
}

.avatar-left-bar{
    margin-right: 15px;
}

.profile-avatar{
    display: flex;
    justify-content: flex-start;
    margin-bottom: 10px;
}

.menu-item{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 12px;
}

.label{
    margin-left: 10px;
}

.menu-footer{
    display: flex;
    justify-content: end;
    flex-direction: column;
    height: 70vh;
}

.active{
    color: #0A6AC2;
}