
  .app-bar1 {
    background-color: #F9F9F9;

  }
  
  
.app-title1 {
    color: #000000;
    font-weight: bold !important;
}

  .close-icon1 {
    color: #555555;
  }
  
  .spacer-button1 {
    margin-top: 16px;
  }
  