.container-home{
    display: flex;
    justify-content: flex-start;
    background-color: #F9F9F9;
}
.home{
    width: -webkit-fill-available;
}

.container-open-notes{
    display: flex;
    justify-content: flex-start;
    width: 100%;
    background-color: #EEEEEE;
    padding-top: 8px;
}
.open-note{
    border: 1px solid #BBB;
    height: 20px;
    border-bottom: none;
    border-radius: 3px;
    padding: 3px;
    margin-right: 5px;
    background-color: #EEEEEE;
}

.container-open-notes button{
    min-width: 200px;
    text-align: left;
    background-color: EEEEEE;
    border: none;
}

.container-open-notes button span{
    display: flex;
    justify-content: flex-end;
    text-align: right;
}

.header-menu{
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.header-menu h1{
    margin: 0px;
    padding:0px
}

.title{
    display: flex;
    justify-content: flex-start;
    margin-left: 20px;
}

.container-btn-new-notas{
    margin-right: 20px;
}

.btn-new-notas{
    background-color: #0A6AC2;
    color: white;
    width: 100%;
    line-height: 25px;
    border-radius: 8px;
    border-color: #0A6AC2;

}

.header-menu-filter{
    display: flex;
    justify-content: space-between;
}

.header-menu-filter input{
    margin-top: 20px;
    line-height: 15px;
    border-radius: 4px;
    border: 1px solid #BBBBBB;
    padding: 8px;
}

.pesquisar {
    width: 400px;
    margin-left: 20px;
}

.filtrar{
    margin-right: 20px;
}

.container-cards{
    display: flex;
    justify-content: space-around;
}

.container-recent-used h3{
    margin-left: 20px;
}

.container-title{
    display: flex;
    justify-content: space-between;
}

.container-title:first-child{
    margin-left: 20px;
}

.container-title:nth-child(1){
    margin-right: 20px;
}

.container-modal-footer{
    display: flex;
    justify-content: end;
    border-top: 1px solid #BBB;
    padding-top: 15px;
}

.container-modal-footer button{
    margin-right: 10px;
    line-height: 30px;
    min-width: 100px;
}

.container-nova-nota{
    height: 530px;
}
.input-nome-da-nota h5{
    margin-bottom: 10px;
    color: #444444;
}

.input-nome-da-nota input, .input-pesquisar input{
    line-height: 20px;
    width: 98%;
    border: 1px solid #BBB;
    border-radius: 4px;
    padding: 8px;
}

.container-directory-notas{
    max-height: 495px;
    overflow: scroll;
}